@use './mixins/mixins.scss'as *;

@font-face {
  font-family: "z-plus-icon";
  src: url('./fonts/iconfont.woff2?t=1684809557887') format('woff2'),
    url('./fonts/iconfont.woff?t=1684809557887') format('woff'),
    url('./fonts/iconfont.ttf?t=1684809557887') format('truetype')
}

[class^='#{$namespace}-icon'], [class*='#{$namespace}-icon'] {
  font-family: "z-plus-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$namespace}-icon-zaixiankefu:before {
  content: "\e745";
}

.#{$namespace}-icon-bangzhu:before {
  content: "\e746";
}

.#{$namespace}-icon-mubiaosheding:before {
  content: "\e741";
}

.#{$namespace}-icon-jizhunniansheding:before {
  content: "\e742";
}

.#{$namespace}-icon-mubiaozhihangfenxi:before {
  content: "\e743";
}

.#{$namespace}-icon-shujuguanli:before {
  content: "\e744";
}

.#{$namespace}-icon-tuxinghuatianbao:before {
  content: "\e73f";
}

.#{$namespace}-icon-shuxingtianbao:before {
  content: "\e73e";
}

.#{$namespace}-icon-kuaisujianmo:before {
  content: "\e740";
}

.#{$namespace}-icon-xiaoxi-mian:before {
  content: "\e73b";
}

.#{$namespace}-icon-xiaoxi-xian:before {
  content: "\e73c";
}

.#{$namespace}-icon-yijianfankui:before {
  content: "\e73d";
}

.#{$namespace}-icon-jiancejihua:before {
  content: "\e73a";
}

.#{$namespace}-icon-yonghuguanli:before {
  content: "\e735";
}

.#{$namespace}-icon-shiyongfankui:before {
  content: "\e736";
}

.#{$namespace}-icon-zuzhiguanli:before {
  content: "\e737";
}

.#{$namespace}-icon-jiaoseguanli:before {
  content: "\e738";
}

.#{$namespace}-icon-bianzu:before {
  content: "\e739";
}

.#{$namespace}-icon-peizhiguanli1:before {
  content: "\e734";
}

.#{$namespace}-icon-nengyuanshujuguanli:before {
  content: "\e733";
}

.#{$namespace}-icon-xiangshang:before {
  content: "\e731";
}

.#{$namespace}-icon-xiangxia:before {
  content: "\e732";
}

.#{$namespace}-icon-ELVduijie:before {
  content: "\e730";
}

.#{$namespace}-icon-shouye2:before {
  content: "\e72f";
}

.#{$namespace}-icon-dingweihuabuzhongxin:before {
  content: "\e722";
}

.#{$namespace}-icon-bianji1:before {
  content: "\e723";
}

.#{$namespace}-icon-chuangjianguocheng:before {
  content: "\e724";
}

.#{$namespace}-icon-fuzhi:before {
  content: "\e725";
}

.#{$namespace}-icon-zhankai1:before {
  content: "\e726";
}

.#{$namespace}-icon-quanlan:before {
  content: "\e727";
}

.#{$namespace}-icon-fangda:before {
  content: "\e728";
}

.#{$namespace}-icon-suoxiao:before {
  content: "\e729";
}

.#{$namespace}-icon-zhankaiguochengji:before {
  content: "\e72a";
}

.#{$namespace}-icon-shouqi2:before {
  content: "\e72b";
}

.#{$namespace}-icon-shanchu:before {
  content: "\e72c";
}

.#{$namespace}-icon-chuangjianguochengji:before {
  content: "\e72d";
}

.#{$namespace}-icon-lianxianxiangqing:before {
  content: "\e72e";
}

.#{$namespace}-icon-cailiao1:before {
  content: "\e715";
}

.#{$namespace}-icon-gongyinglianjishengchanjieduan:before {
  content: "\e716";
}

.#{$namespace}-icon-feiqiwujiqichuli:before {
  content: "\e717";
}

.#{$namespace}-icon-fuliao:before {
  content: "\e718";
}

.#{$namespace}-icon-paifangzhishuiyu:before {
  content: "\e719";
}

.#{$namespace}-icon-huishoujieduan:before {
  content: "\e71a";
}

.#{$namespace}-icon-nengyuan:before {
  content: "\e71b";
}

.#{$namespace}-icon-shiyongjieduan:before {
  content: "\e71c";
}

.#{$namespace}-icon-lianxianbiaoshi:before {
  content: "\e71d";
}

.#{$namespace}-icon-paifangzhikongqi:before {
  content: "\e71e";
}

.#{$namespace}-icon-zhufuchanwu:before {
  content: "\e71f";
}

.#{$namespace}-icon-wuliuyunshujieduan:before {
  content: "\e720";
}

.#{$namespace}-icon-zhuhuabu:before {
  content: "\e721";
}

.#{$namespace}-icon-xinxifabu-yulanxiaoguo:before {
  content: "\e711";
}

.#{$namespace}-icon-tanpaifangxinxiguanli1:before {
  content: "\e712";
}

.#{$namespace}-icon-biaotoushezhi:before {
  content: "\e713";
}

.#{$namespace}-icon-baobiaoguanli:before {
  content: "\e714";
}

.#{$namespace}-icon-dengdai:before {
  content: "\e710";
}

.#{$namespace}-icon-shouqi1:before {
  content: "\e70f";
}

.#{$namespace}-icon-qiehuan:before {
  content: "\e70e";
}

.#{$namespace}-icon-tanpaibilifenpei:before {
  content: "\e70d";
}

.#{$namespace}-icon-qitamoxing:before {
  content: "\e70b";
}

.#{$namespace}-icon-cailiaomoxing:before {
  content: "\e70c";
}

.#{$namespace}-icon-bianji:before {
  content: "\e70a";
}

.#{$namespace}-icon-LCAbaogao1:before {
  content: "\e709";
}

.#{$namespace}-icon-jisuan:before {
  content: "\e708";
}

.#{$namespace}-icon-LCAbaogao:before {
  content: "\e707";
}

.#{$namespace}-icon-keshihuafenxi:before {
  content: "\e706";
}

.#{$namespace}-icon-shuruliubiaoneibiaoshi:before {
  content: "\e703";
}

.#{$namespace}-icon-shuchuliubiaoneibiaoshi:before {
  content: "\e704";
}

.#{$namespace}-icon-guocheng:before {
  content: "\e705";
}

.#{$namespace}-icon-xiazai:before {
  content: "\e702";
}

.#{$namespace}-icon-quxiao:before {
  content: "\e68b";
}

.#{$namespace}-icon-wendang-tongyong:before {
  content: "\e701";
}

.#{$namespace}-icon-weizhidingtouxiang:before {
  content: "\e700";
}

.#{$namespace}-icon-shuoming:before {
  content: "\e6ff";
}

.#{$namespace}-icon-guanlian:before {
  content: "\e6fe";
}

.#{$namespace}-icon-mulufucengjibiaoshi:before {
  content: "\e6fb";
}

.#{$namespace}-icon-zuzhifucengjibiaoshi:before {
  content: "\e6fa";
}

.#{$namespace}-icon-zanwu:before {
  content: "\e6fd";
}

.#{$namespace}-icon-gengduo:before {
  content: "\e6fc";
}

.#{$namespace}-icon-tupian:before {
  content: "\e6f7";
}

.#{$namespace}-icon-pdf:before {
  content: "\e6f8";
}

.#{$namespace}-icon-weizhiwenjian:before {
  content: "\e6f9";
}

.#{$namespace}-icon-pancharenwu:before {
  content: "\e6ef";
}

.#{$namespace}-icon-peizhiguanli:before {
  content: "\e6f0";
}

.#{$namespace}-icon-xitongguanli:before {
  content: "\e6f1";
}

.#{$namespace}-icon-shouye1:before {
  content: "\e6f2";
}

.#{$namespace}-icon-shujuqueren:before {
  content: "\e6f3";
}

.#{$namespace}-icon-shujutongji:before {
  content: "\e6f4";
}

.#{$namespace}-icon-tanpaifangxinxiguanli:before {
  content: "\e6f5";
}

.#{$namespace}-icon-paifangtianbao:before {
  content: "\e6f6";
}

.#{$namespace}-icon-qingkongshuju:before {
  content: "\e6ee";
}

.#{$namespace}-icon-shuruliu:before {
  content: "\e6ec";
}

.#{$namespace}-icon-shuchuliu:before {
  content: "\e6ed";
}

.#{$namespace}-icon-dianchimoxing:before {
  content: "\e6e9";
}

.#{$namespace}-icon-zhengchemoxing:before {
  content: "\e6ea";
}

.#{$namespace}-icon-lingbujianmoxing:before {
  content: "\e6eb";
}

.#{$namespace}-icon-cailiao:before {
  content: "\e6d8";
}

.#{$namespace}-icon-shujuku:before {
  content: "\e6d9";
}

.#{$namespace}-icon-dianchi:before {
  content: "\e6da";
}

.#{$namespace}-icon-moxingshuju:before {
  content: "\e6db";
}

.#{$namespace}-icon-lingbujian:before {
  content: "\e6dc";
}

.#{$namespace}-icon-biaoqian:before {
  content: "\e6dd";
}

.#{$namespace}-icon-zhengche:before {
  content: "\e6de";
}

.#{$namespace}-icon-chenggong:before {
  content: "\e6df";
}

.#{$namespace}-icon-a-tishishuoming:before {
  content: "\e6e0";
}

.#{$namespace}-icon-baogaoshuju:before {
  content: "\e6e1";
}

.#{$namespace}-icon-fengongfangguanli:before {
  content: "\e6e2";
}

.#{$namespace}-icon-wodemoxing:before {
  content: "\e6e3";
}

.#{$namespace}-icon-fachudeqingqiu:before {
  content: "\e6e4";
}

.#{$namespace}-icon-shujuqingqiu:before {
  content: "\e6e5";
}

.#{$namespace}-icon-shoudaodeqingqiu:before {
  content: "\e6e6";
}

.#{$namespace}-icon-a-tishicaozuoshuoming:before {
  content: "\e6e7";
}

.#{$namespace}-icon-a-shanchushibai:before {
  content: "\e6e8";
}

.#{$namespace}-icon-shangchuan:before {
  content: "\e6d7";
}

.#{$namespace}-icon-fanhui:before {
  content: "\e6d6";
}

.#{$namespace}-icon-xinjian:before {
  content: "\e6d1";
}

.#{$namespace}-icon-daochu:before {
  content: "\e6d2";
}

.#{$namespace}-icon-sousuo:before {
  content: "\e6d3";
}

.#{$namespace}-icon-daoru:before {
  content: "\e6d4";
}

.#{$namespace}-icon-shuaxin:before {
  content: "\e6d5";
}

.#{$namespace}-icon-shouqicaidan:before {
  content: "\e6cf";
}

.#{$namespace}-icon-zhankaicaidan:before {
  content: "\e6d0";
}

.#{$namespace}-icon-xiala:before {
  content: "\e6ce";
}

.#{$namespace}-icon-shouqi:before {
  content: "\e6cb";
}

.#{$namespace}-icon-zhankai:before {
  content: "\e6cc";
}

.#{$namespace}-icon-tishi:before {
  content: "\e6cd";
}

.#{$namespace}-icon-tongjihuizong:before {
  content: "\e6c6";
}

.#{$namespace}-icon-shouye:before {
  content: "\e6c7";
}

.#{$namespace}-icon-shangbaoguanli:before {
  content: "\e6c8";
}

.#{$namespace}-icon-tanpaitianbao:before {
  content: "\e6c9";
}

.#{$namespace}-icon-yinzikuguanli:before {
  content: "\e6ca";
}